@font-face {
    src: url(CursedTimerUlil-Aznm.ttf);
    font-family: ScoreBoard;
}

body {
    margin: 0;
    background-color: #1B244A;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 65px 0 0 0;
    display: flex;
    justify-content: center;
    font-size: 40px;
    width: 150px;
}

h2 {
    font-family: ScoreBoard;
}

button {
    background-color: #1B244A;
    font-family: ScoreBoard;
    font-size: 18px;
    color: #9AABD8;
    border: #9AABD8 solid 1px;
    border-radius: 5px;
    padding: 12px 10px;
    margin-left: 7px;
}

.container {
    display: flex;
    justify-content: space-around;
}

#home-score, #away-score {
    display: flex;
    justify-content: space-around;
    background-color: #080001;
    color: #F94F6D;
    border: none;
    border-radius: 5px;
    padding-top: 20px;
    font-size: 90px;
    font-weight: 500;
    margin: 20px auto;
    width: 155px;
}

/* #reset {
    background-color: #080001;
    border: #F94F6D solid 1px;
    color: #F94F6D;
    display: block;
    margin: auto;
} */